<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Retro Arcade Highscores</title>
</head>
<body>

<div class='machine shake-slow'>
    <div class='shine'></div>
    <div class='top'>
        <div class='screw screwTop'></div>
        <div class='panels'>
            <div class='panel'></div>
            <div class='panel'></div>
            <div class='panel'></div>
        </div>
    </div>
    <div class='screen'></div>
    <div class='table color'>
        <div class='button'></div>
        <div class='stick'></div>
    </div>
    <div class='bottom color'>
        <div class='line'></div>
        <div class='line'></div>
        <div class='screw screwleftBottom'></div>
        <div class='panels'>
            <div class='panel'></div>
            <div class='panel'></div>
            <div class='panel'></div>
            <div class='panel'></div>
            <div class='panel'></div>
        </div>
        <div class='screw screwRight'></div>
    </div>
</div>



<div class='welcome' style="text-align:center;">
    <h1>Welcome to the highscore and rankings page for Retro Arcade.</h1>
    <a href="pong_leaderboard.html">View Pong Highscores</a><br>
    <a href="personal.html">Personal Statistics</a><br>
</div>

</body>
</html>